.header{
    background:#FFF;
    box-shadow:0 2px 5px rgba(0,0,0,0.05), 0 0 10px rgba(0,0,0,0.05);
}

.wrapper{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav ul{
    display: flex;
    list-style: none;
}

.nav ul li{
    padding:1rem;
}


.logo{
    width:75px;
    height:auto;
}